<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <tr><th>Id</th>
        <th>Nom</th>
        <th>Dosage</th>
        <th>Forme</th>
        <th>Classe Therapeutique</th>
        <th>Utilisation</th>
    </tr>
    <tr {% for f in fiche %}>
        <td>{{ f.id }}</td>
        <td>{{ f.nom_commercial }}</td>
        <td>{{ f.dosage}}</td>
        <td>{{ f.forme}}</td>
        <td>{{ f.classe_therapeutique}}</td>
        <td>{{ f.utilisation}}</td>

    </tr{% endfor %}>
</table>

</body>
</html>