{% extends 'DashboardAdmin.html.twig' %}
{% block title %}
    Categories
{% endblock %}

{% block categories %}
    active
{% endblock %}

{% block titredetailsblock %}


{% endblock %}

    {% block titrepage %}
        Liste des Categories
    {% endblock %}

    {% block detailtitrepage %}
        Choisir une Categorie à modifier ou supprimer
    {% endblock %}


{% block details %}
{% endblock %}

{% block addCategorie %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Ajout Categories</h4>
                            <p class="card-category">Ajouter une nouvelle categorie</p>
                        </div>
                        <div class="card-body">
                            {{ form_start(form) }}

                            <form>
                                <div class="row">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.categorie, "Nom categorie", {'label_attr': {'class': 'bmd-label-floating'}}) }}

                                            {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form" style="">
                                            {{ form_label(form.image, "Image catagorie", {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                            {{ form_rest(form, {'attr': {'class': 'bmd-label-floating'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary pull-right">Modifier categorie</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12 card card-profile">
                        <table class="table table-striped">
                            <thead class="card-header card-header-primary">
                            <tr>
                                <th scope="col">Image catégorie</th>
                                <th scope="col">Nom catégorie</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for AllCat in AllCat %}
                                <tr>
                                    <td><img class="img" style="border-radius:50px;width:35px;height:35px;object-fit: cover;" src="/assets/img/Categories/{{ AllCat.image }}"></td>
                                    <td>{{ AllCat.categorie |capitalize }}</td>
                                    <td>
                                        <a href="{{ path('modCat',{'idCat':AllCat.id}) }}"><i class="bi bi-pen" style="color: dodgerblue"></i></a>
                                        <span href=""><i class="bi bi-trash" style="color: darkred" onclick="document.getElementById('id01').style.display='block'"> </i></span>
                                    </td>
                                </tr>



                                <div id="id01" class="modal" style="background-color: white">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                                    <form class="modal-content" action="/action_page.php">
                                        <div class="container">
                                            <h1>Delete Account</h1>
                                            <p>Are you sure you want to delete your account?</p>

                                            <div class="clearfix">
                                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                                <a href="{{ path('deleteCat',{'cat':AllCat.id}) }}" type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>



                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="col-lg-12 d-flex justify-content-center">
                    {{ knp_pagination_render(AllCat) }}
                </div>
                </div>
                <div class="col-md-4">
                    {% for nbr in maxCat %}

                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="javascript:;">
                                    <img class="img" style="width:200px;height:200px;object-fit: cover;" src="/assets/img/Categories/{{ nbr.image }}">

                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ nbr.categorie|capitalize }}</h4>
                                <h6 class="card-category text-gray"><i class="fa fa-line-chart"></i> {{ nbr.nbr|capitalize }} articles / mois</h6>

                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-lg-12 card card-profile">
                        <table class="table table-striped">
                            <thead class="card-header card-header-primary">
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Categories</th>
                                <th scope="col">Article/Mois</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cat in cat %}
                                <tr>
                                    <td><img class="img" style="border-radius:50px;width:35px;height:35px;object-fit: cover;" src="/assets/img/Categories/{{ cat.image }}"></td>
                                    <td>{{ cat.categorie |capitalize }}</td>
                                    <td><i class="fa fa-line-chart"></i> {{ cat.nbr }} Articles</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
