{% extends 'DashboardAdmin.html.twig' %}
{% block stylecss %}
    <style>
        span .bi-trash:hover {
            /* Start the shake animation and make the animation last for 0.5 seconds */
            animation: shake 0.5s;

            /* When the animation is finished, start again */
            animation-iteration-count: infinite;
        }
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
            z-index: 2;
        }
        .overlay:target {
            visibility: visible;
            opacity: 1;
            z-index: 1;
        }

        .popup {
            margin: 70px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 5s ease-in-out;
            z-index: 1;
        }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }
        .popup .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }
        .popup .close:hover {
            color: #06D85F;
        }
        .popup .content {
            max-height: 30%;
            overflow: auto;

        }

        @media screen and (max-width: 700px){
            .box{
                width: 70%;
            }
            .popup{
                width: 70%;
            }
        }




    </style>
{% endblock %}
{% block title %}
    Categories
{% endblock %}

{% block categories %}

    active
{% endblock %}

{% block titre_menu %}
    Modifier  Catégorie(s)
{% endblock %}


{% block titredetailsblock %}


{% endblock %}

    {% block titrepage %}
        Liste des Categories
    {% endblock %}

    {% block detailtitrepage %}
        Choisir une Categorie à modifier ou supprimer
    {% endblock %}


{% block backroundCat %}
    style="background-color:#949494;color:white"
{% endblock %}
    {% block iconCat %}
        style="color:white;"
    {% endblock %}


{% block details %}
{% endblock %}

{% block addCategorie %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Modifier Categories</h4>
                            <p class="card-category">Modifier une nouvelle categorie</p>
                        </div>
                        <div class="card-body">
                            {{ form_start(form) }}

                            <form>
                                <div class="row">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.categorie, "Nom categorie", {'label_attr': {'class': 'bmd-label-floating'}}) }}

                                            {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form" style="">
                                            {{ form_label(form.image, "Image catagorie", {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                            {{ form_rest(form, {'attr': {'class': 'bmd-label-floating'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary pull-right">Modifier categorie</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12 card card-profile">
                        <table class="table table-striped">
                            <thead class="card-header card-header-primary">
                            <tr>
                                <th scope="col">Image catégorie</th>
                                <th scope="col">Nom catégorie</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for AllCat in AllCat %}
                                <tr>
                                    <td><img class="img" style="border-radius:50px;width:35px;height:35px;object-fit: cover;" src="/assets/img/Categories/{{ AllCat.image }}"></td>
                                    <td>{{ AllCat.categorie |capitalize }}</td>
                                    <td>
                                        <a href="{{ path('modCat',{'idCat':AllCat.id}) }}"><i class="bi bi-pen" style="color: dodgerblue"></i></a>
                                        <div class="box">
                                            <a href="#popup{{ AllCat.id }}" class="details_article_a"style="display: flex;justify-content: center;">
                                                <i class="bi bi-trash" style="color: darkred"></i>

                                            </a>
                                        </div>
                                    </td>
                                </tr>





                                <div id="popup{{ AllCat.id }}" class="overlay" style="z-index: 10;">
                                    <div class="popup">
                                        <h2>voulez-vous vraiment supprimer !</h2>
                                        <a class="close" href="#">&times;</a>
                                        <div class="content">
                                            <a class="btn btn-primary" href="{{ path('supp',{'id':AllCat.id }) }}"style="background-color: red;border:none">Supprimer {{ AllCat.id  }}</a>
                                            <a class="btn btn-primary" href="#" style="background-color: dodgerblue;border:none">Annuler &times;</a>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="col-lg-12 d-flex justify-content-center">
                        {{ knp_pagination_render(AllCat) }}
                    </div>


                </div>
                <div class="col-md-4">
                    {% for nbr in maxCat %}

                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="javascript:;">
                                    <img class="img" style="width:200px;height:200px;object-fit: cover;" src="/assets/img/Categories/{{ nbr.image }}">

                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ nbr.categorie|capitalize }}</h4>
                                <h6 class="card-category text-gray"><i class="fa fa-line-chart"></i> {{ nbr.nbr|capitalize }} articles / mois</h6>

                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-lg-12 card card-profile">
                        <table class="table table-striped">
                            <thead class="card-header card-header-primary">
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Categories</th>
                                <th scope="col">Article/Mois</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cat in cat %}
                                <tr>
                                    <td><img class="img" style="border-radius:50px;width:35px;height:35px;object-fit: cover;" src="/assets/img/Categories/{{ cat.image }}"></td>
                                    <td>{{ cat.categorie |capitalize }}</td>
                                    <td><i class="fa fa-line-chart"></i> {{ cat.nbr }} Articles</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
