{% extends 'base.html.twig' %}

{% block title %}Video index
{% endblock %}

{% block body %}
<style>
    .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 18px;
    background: #ff0000;
    color: #fff;
    padding: 0 3px;
    vertical-align: top;
    margin-left: -10px; 
}

.badge{
    width:18px;
    height : 18px;
}
</style>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="display:flex; justify-content:flex-end;">
				<a href="{{path('panier_index')}}">
                <i class="fa" style="font-size:34px">&#xf07a;</i>
				<span class='badge badge-warning' id='lblCartCount' >
                
					{{count}}
				</span>
                </a>
			</div>
		</div>
	</div>
	<div class="container">
		<h1 class="aos-init aos-animate" data-aos="fade-up">Liste des Videos</h1>
	</div>

	<section id="hero" class="hero d-flex align-items-center">


		<div class="container">

			<table class="table table-striped">
				<thead class="table-dark">
					<tr>

						<th>Titre</th>
						<th>Source</th>
						<th>Paye</th>
						<th>Prix</th>
						<td>Note</td>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for video in videos %}
						<tr>

							<td>{{ video.titre }}</td>
							<td>{{ video.source }}</td>
							<td>{{ video.paye ? 'Oui' : 'Non' }}</td>
							<td>{{ video.prix }}</td>
							<td>
								{% if video.note != 0 %}												
								{% for i in range(0, video.note - 1) %}
									<i class="fas fa-star"></i>
									{% set k = i %}
								{% endfor %}
								{% endif %}	
								
								{% if video.note != 5 %}
								
								
								{% for i in range(0, 5 - video.note - 1) %}
								{% if i == 0 %}
									{% set w = 1 %}
								{% endif %}
								{% if i == 1 %}
									{% set w = 2 %}
								{% endif %}
								{% if i == 2 %}
									{% set w = 3 %}
								{% endif %}
								{% if i == 3 %}
									{% set w = 4 %}
								{% endif %}
								{% if i == 4 %}
									{% set w = 5 %}
								{% endif %}

									<a href="{{ path('note_add', {'n': w , 'id' : video.id}) }}"><i class="fa fa-star-o">
									
								</i></a>
								
								{% endfor %}
								{% endif %}

							</td>

							<td>
								{% if video.panier != NULL %}
									<a href="#" class="btn btn-success btn-round">BIEN Ajoutée</a>
								{% else %}
									<a href="{{ path('panier_add', {'id': video.id}) }}" class="btn btn-primary btn-round">Ajouter</a>
								{% endif %}

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
				<a href="{{ path('spread') }}" class="btn btn-success btn-round">EXCEL</a>

		</div>
	</section>
	<script src="https://use.fontawesome.com/5793d5bd23.js"></script>
{% endblock %}
