{{ form_start(form) }}
    {{ form_widget(form.nom, {'attr' : {'class' : 'form-control' }}) }}
    {{ form_widget(form.adr, {'attr' : {'class' : 'form-control' }}) }}
    {{ form_widget(form.gouv, {'attr' : {'class' : 'form-control' }}) }}
    {{ form_widget(form.img_pat, {'attr' : {'class' : 'form-control' }}) }}
<button class="btn btn-round" onclick="f()">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script>
    function f (){
        window.alert("Voulez-vous vraiment continuer ?");
    }
</script>