{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

<style>
    .forum-content {
        margin-top: 100px;
    }
</style>

<style>
.container {
    margin-top: 100px;
}

.media {
    display: flex;
    flex-direction: row;
}

.media-body {
    flex-grow: 1;
    margin-left: 50px;
}

.views {
    width: 100px;
}

.new-post {
    margin-top: 15px;
    color: white;
    background-color: #4154f1;
    border: none;
    padding: 5px 10px;
    float: right;
}

.new-post a {
    color: white;
}

.comment-card {
    margin-left: auto;
    margin-right: 5%;
    width: 80%;
}
</style>

<div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
    <div class="card mb-2">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item">
                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="/assets/img/clients/{{ post.user.image }}" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                <div class="media-body">
                    <h6><a href="{{ path('post_show', {'id': post.id}) }}" data-toggle="collapse" data-target=".forum-content" class="text-body">{{ post.title }}</a></h6>
                    <p class="text-secondary">
                        {{ post.body }}
                    </p>
                    </div>
                    <div class="views text-muted small text-center align-self-center">
                        <div class="views text-muted small text-center align-self-center">
                                <span>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i') : '' }}</span>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
     <ul class="social-buttons cf">
    <li>
        <a href="{{asset('http://twitter.com/share')}}" class="socialite twitter-share" data-text="Socialite.js" data-url="{{ app.request.getUri }}" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden"> Twitter</span></a>
    <li>
        <a href="{{asset('https://plus.google.com/share?url={{ app.request.getUri }}')}}" class="socialite googleplus-one" data-size="tall" data-href="{{ app.request.getUri }}" rel="nofollow" target="_blank"><span class="vhidden"> Google+</span></a>
    <li>
        <a href="{{asset('http://www.facebook.com/sharer.php?u={{ app.request.getUri }}&t={{ page.name|url_encode() }}')}}" class="socialite facebook-like" data-href="{{ app.request.getUri }}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden"> Facebook</span></a>
    </li>
</ul>

<!--...-->
 
<script>
    $(document).ready(function() {
        Socialite.load();
    });
</script>
    {% for comment in post.comments %}
        <div class="card mb-2 comment-card">
            <div class="card-body p-2 p-sm-3">
                <div class="media forum-item">
                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img src={{ comment.user.image }} class="mr-3 rounded-circle" width="50" alt="User" /></a>
                    <div class="media-body">
                        <h6><a href="" data-toggle="collapse" data-target=".forum-content" class="text-body">{{ comment.body }}</a></h6>
                        </div>
                        <div class="views text-muted small text-center align-self-center">
                            <div class="views text-muted small text-center align-self-center">
                                    <span>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i') : '' }}</span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    {% endfor %}  
    <div class="card mb-2 comment-card">
            <div class="card-body p-2 p-sm-3">
                <h3>Post comment</h3>
                {{ include('comment/_form.html.twig') }}
            </div>
    </div>
</div>  
    <!--<h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ post.body }}</td>
            </tr>
             <tr>
              <th> image </th>
            <td>
            <img  src="{{ asset('web/uploads/'~ post.avatar)}}"  style="width: 250px " height="200" >
            </td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Deleted_at</th>
                <td>{{ post.deletedAt ? post.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Edited_at</th>
                <td>{{ post.editedAt ? post.editedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}-->
{% endblock %}
